body {
  width: 759px;
  margin: 0 auto;
}

h1 {
  background-color: #a52a2a;
  color: white;
  text-align: center;
}

p {
  font-size: 18px;
}
.adipisicing-elit {
  font-style: italic;
}

.voluptatum {
  font-weight: bold;
}

footer {
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #000000;
}

.border-black {
  border-width: 3px;
  border-style: dashed;
  border-color: black;
  border-image: initial;
}

.images {
  text-align: center;
}

.accusantium {
  color: #3245ff;
  font-style: italic;
  font-weight: bold;
}

.lorem {
  color: #3245ff;
}
